<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fluffy_Town.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Fluffy_Town.Properties.Settings>
            <setting name="afaf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Label" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fBonita" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fBrowny" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fBruce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fClifford" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fGigi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fKurt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fLorna" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="fPoppy" serializeAs="String">
                <value>False</value>
            </setting>
        </Fluffy_Town.Properties.Settings>
    </userSettings>
</configuration>